[package]
name = "anymap"
version = "0.12.1"
edition = "2018"
authors = ["Chris Morgan <me@chrismorgan.info>"]
description = "A safe and convenient store for one value of each type"
documentation = "https://docs.rs/anymap"
#homepage = "https://github.com/chris-morgan/anymap"
repository = "https://github.com/chris-morgan/anymap"
readme = "README.md"
keywords = ["container", "data-structure", "map"]
license = "MIT/Apache-2.0"
